.toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  position: fixed;
  bottom: -100px;
  -webkit-transition: bottom 0.3s ease-in;
  transition: bottom 0.3s ease-in;
}
.toast > .msg {
  width: 411px;
  height: 42px;
  background-color: #CD3325;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toast-active {
  bottom: 41px;
}