#root {
  .question-list-page {
    padding-top: 130px;

    &>.wrapper {
      padding-bottom: 100px;

      &>.top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>.title {
          font-weight: 700;
          font-size: 30px;
        }

        &>.right {
          display: flex;
          column-gap: 180px;
          position: relative;

          &>.filter-btn {
            cursor: pointer;
            width: 131px;
            height: 42px;
            border: 1px solid #DBDBDB;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 0 11px;
            column-gap: 6px;
            box-sizing: unset;

            &>.circle {
              width: 20px;
              height: 20px;
              border: solid 1px #DBDBDB;
              border-radius: 50%;
            }

            &>.btn-title {
              font-size: 14px;
              font-weight: 600;
            }
          }

          &>.category {
            transition: height 0.2s ease-in-out;
            cursor: pointer;
            width: 162px;
            height: 42px;
            border: 1px solid #DBDBDB;
            border-radius: 5px;
            overflow: hidden;
            position: absolute;
            right: 236px;
            display: grid;
            grid-template-rows: 42px 37px 37px 37px 37px 37px;
            font-size: 14px;
            font-weight: 500;
            z-index: 100;

            &>div {
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              padding: 11px 11px 11px 14px;
              border-top: 1px solid #DBDBDB;
              ;
              color: #777777;
              background-color: white;
            }

            &>div:hover {
              background-color: #F5F6F8;
            }

            &>.now {
              color: #000000;
              border: unset;
              display: flex;
              align-items: center;
              justify-content: space-between;

              &>img {
                width: 20px;
              }
            }

            &>.now:hover {
              background-color: white;
            }
          }

          &>.open {
            height: 230px;

            &>.now {
              &>img {
                transform: rotate(180deg);
              }
            }
          }

          &>.search {
            width: 227px;
            height: 42px;
            border: 1px solid #DBDBDB;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 11px 16px 11px 14px;
            column-gap: 10px;

            &>input {
              flex: 1;
              font-size: 14px;
              font-weight: 500;
            }

            &>input::placeholder {
              font-weight: 500;
              font-size: 14px;
              color: #C4C4C4;
            }

            &>img {
              width: 20px;
            }
          }

        }
      }

    }
  }
}